# This workflow will lint the project using clang-tidy
name: Clang-tidy linting

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'

jobs:
  lint:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
        options: [DEBUG="false" FAST="false", DEBUG="true" FAST="true"]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.14
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install build dependencies
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        echo "deb https://apt.llvm.org/noble/ llvm-toolchain-noble-22 main" | sudo tee -a /etc/apt/sources.list
        sudo apt-get update
        sudo apt-get install --no-install-recommends make pkg-config build-essential
        sudo apt-get install clang-tidy-22
        sudo apt-get install --no-install-recommends libglm-dev libglfw3-dev libepoxy-dev libstb-dev libassimp-dev

    - name: Run the global linting target
      run: |
        TIDY="clang-tidy-21" ${{ matrix.options }} make lint_all -j$(nproc)
