# This workflow will build and test the engine
name: Engine tests

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        compiler: [{package: g++-14, command: g++-14}, {package: clang-19, command: clang++-19}]

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.14
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install build dependencies
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        echo "deb http://apt.llvm.org/noble/ llvm-toolchain-noble-19 main" | sudo tee -a /etc/apt/sources.list
        sudo apt-get update
        sudo apt-get install --no-install-recommends make pkg-config build-essential
        sudo apt-get install ${{ matrix.compiler.package }}
        sudo apt-get install --no-install-recommends libglm-dev libglfw3-dev libepoxy-dev libstb-dev libassimp-dev

    - name: (DEBUG + ASan + UBSan) Build tests
      run: |
        make clean
        CXX="${{ matrix.compiler.command }}" DEBUG="true" make tests -j$(nproc)

    - name: (DEBUG + ASan + UBSan) Run maths tester
      run: |
        ./launch.sh --maths

    - name: (DEBUG + ASan + UBSan) Run thread tester
      run: |
        ./launch.sh --threads

    - name: (DEBUG + TSan) Build thread tester
      run: |
        make clean
        CXX="${{ matrix.compiler.command }}" CHECK_THREADS="true" DEBUG="true" make threads -j$(nproc)

    - name: (DEBUG + TSan) Run thread tester
      run: |
        ./launch.sh --threads
