# This workflow will build the engine
name: Whole engine compilation

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
        compiler: [{package: g++-14, command: g++-14}, {package: clang-19, command: clang++-19}]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.14
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install build dependencies
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        echo "deb http://apt.llvm.org/noble/ llvm-toolchain-noble-19 main" | sudo tee -a /etc/apt/sources.list
        sudo apt-get update
        sudo apt-get install --no-install-recommends make pkg-config build-essential
        sudo apt-get install ${{ matrix.compiler.package }}
        sudo apt-get install --no-install-recommends libglm-dev libglfw3-dev libepoxy-dev libstb-dev libassimp-dev

    - name: Test shared library build target
      run: |
        CXX="${{ matrix.compiler.command }}" make library -j$(nproc)

    - name: Test demo build target
      run: |
        CXX="${{ matrix.compiler.command }}" make build -j$(nproc)

    - name: Test threads and maths build targets
      run: |
        CXX="${{ matrix.compiler.command }}" make threads maths -j$(nproc)

    - name: Verify build and clean up
      run: |
        ls build/demo build/threadTest build/mathsTest build/libammonite.so
        make clean

    - name: (FAST) Test experimental optimisations build target
      run: |
        CXX="${{ matrix.compiler.command }}" FAST="true" make build -j$(nproc)

    - name: Test library install target
      run: |
        sudo make install

    - name: Test headers install target
      run: |
        sudo make headers
