# This workflow will build and test the engine
name: Engine tests

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.14
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install build dependencies
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        echo "deb http://apt.llvm.org/noble/ llvm-toolchain-noble-19 main" | sudo tee -a /etc/apt/sources.list
        sudo apt-get update
        sudo apt-get install --no-install-recommends make pkg-config build-essential
        sudo apt-get install g++-14 clang-19
        sudo apt-get install --no-install-recommends libglm-dev libglfw3-dev libepoxy-dev libstb-dev libassimp-dev

    - name: (g++) (DEBUG + ASan + UBSan) Build tests
      run: |
        make clean
        CXX="g++-14" DEBUG="true" make tests -j$(nproc)

    - name: (g++) (DEBUG + ASan + UBSan) Run maths tester
      run: |
        ./launch.sh --maths

    - name: (g++) (DEBUG + ASan + UBSan) Run thread tester
      run: |
        ./launch.sh --threads

    - name: (g++) (DEBUG + TSan) Build thread tester
      run: |
        make clean
        CXX="g++-14" CHECK_THREADS="true" DEBUG="true" make threads -j$(nproc)

    - name: (g++) (DEBUG + TSan) Run thread tester
      run: |
        ./launch.sh --threads

    - name: (clang++) (DEBUG + ASan + UBSan) Build tests
      run: |
        make clean
        CXX="clang++-19" DEBUG="true" make tests -j$(nproc)

    - name: (clang++) (DEBUG + ASan + UBSan) Run maths tester
      run: |
        ./launch.sh --maths

    - name: (clang++) (DEBUG + ASan + UBSan) Run thread tester
      run: |
        ./launch.sh --threads

    - name: (clang++) (DEBUG + TSan) Build thread tester
      run: |
        make clean
        CXX="clang++-19" CHECK_THREADS="true" DEBUG="true" make threads -j$(nproc)

    - name: (clang++) (DEBUG + TSan) Run thread tester
      run: |
        ./launch.sh --threads

